{% extends 'base.html.twig' %}

{% block title %}Accueil - {{parent()}} {% endblock %}

{% block body %}

<div class="container mt-3">
    <h1>Bienvenue sur BeerTime ! </h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla tortor orci, 
    ac laoreet mi tempor at. Sed volutpat pulvinar magna, et luctus mi. Vivamus volutpat purus augue. 
    Nam tempus elit in mi rutrum, ac finibus ipsum commodo. Nam id lacus id justo tempus ultricies non sed augue. 
    Vivamus suscipit ex ac tellus blandit, sed euismod purus pretium. Morbi venenatis mi et sem gravida lacinia. 
    In accumsan suscipit dui in vulputate. Pellentesque sit amet arcu sed turpis interdum efficitur. 
    Vivamus tristique viverra ligula, non feugiat odio posuere nec.</p>
</div>
{% endblock %}
